<div class="header-container">
    <div class="header-title">
        <h1><a href="https://duanyll.com">Duanyll's Blog</a></h1>
    </div>
    <!-- <span class="header-line"></span> -->
    <div class="header-shortcuts">
        <ul>
            <li><a href="https://stl.duanyll.com">Standard-TLE-Library</a></li>
        </ul>
        <ul>
            <li><a href="/projects.html">更多项目</a></li>
            <li><a href="/archive">归档</a></li>
            <li><a href="/links.html">友链</a></li>
            <li><a href="/about.html">关于</a></li>
        </ul>
    </div>
</div>