/* Adding the background source for 
both elements together simplifies editing. 
Changing the background color #333 to #fff 
will produce much more intence effect on 
the filter blend */

html {
    background: #333 url(https://bing.biturl.top/?resolution=1920&format=image&index=0&mkt=zh-CN) 50% 100% fixed;
    background-size: cover;
}

.acrylic {
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

/*made color rgba removed opacity property*/

.acrylic::after {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 3px;
    background-image: url(/assets/images/acrylic-noise.png);
}

/*Individual control over 
.nested and .parent opacity and color.*/

.parent::after {
    background-color: #fff;
    opacity: 0.60;
}

.yellow::after {
    background-color: #fc0;
    opacity: 0.60;
}

.child::after {
    background-color: rgba(230, 240, 255, 0.30);
    opacity: 0.60;
}

.shadow {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2), 0 1px 6px rgba(0, 0, 0, 0.4);
}